{% extends 'base.html' %}
{%block title%}TechPlatform-Contact Us{%endblock%}
{%block body%}
<div class="container-fluid">
  <div class="jumbotron">
     <div class="row">
        <h1 class="font1">Contact US</h1>

     </div>
  </div>
</div>
<div class="container">

       <h3 class="heading font1 underline" style="text-align: left;">Contact Information :-</h3>
       <ul>
          <li> <strong class="font1">Email:-</strong><a class="font1" href="mailto:lohith58malasaniii@gmail.com"> lohith58malasaniii@gmail.com</a><br />
            </li>
          <li> <strong class="font1">Whatsapp:-</strong><a class='font1' href="tel:+91-9360944903"> +91-9360944903</a><br/>
         </li>
         <li> <strong class="font1">Address:- Bharath University, Agharam Road Selaiyur,Chennai-600073,Tamil Nadu-India .</strong></li>
       </ul>
       <br><hr><br>
       <h3 class="heading font1 underline" style="text-align: left;"> About TechPlatform :-</h3>
       <p class="font1">TechPlatform is an online learning platform with high-quality and informative information.</p>
<p class="font1"> TechPlatform contains multiple features like BLog,Theory Based learning,Scheduling,CheatSheets etc .</p>
<p class="font1"> More than 5000 students are learning on an average per day .</p>
<hr>
<br>
<br>
</div>

{%endblock%}
