{% extends 'base.html' %}
{%block title%}TechPlatform-FAQ's{%endblock%}
{%block body%}
<div class="container-fluid">
  <div class="jumbotron">
     <div class="row">
        <h1 class="font1">FAQ'S(frequently asked questions)</h1>

     </div>
  </div>
</div>
<div class="container">
       <h3 class="heading font1 underline" style="text-align: left;">Can I access my course in mobile?</h3>
       <p class="font1">Yes, you can access courses on any device with an internet connection and a web browser.</p>
       <hr>
       <h3 class="heading font1 underline" style="text-align: left;">How to report an issue on the app?</h3>
       <p class="font1">For any other issues, please drop an email to <strong>lohith58malasaniii@gmail.com</strong>with the complete issue details.</p>
<br>
</div>

{%endblock%}
